doctype html
html
  head
    title EasyTodo
    link(rel='stylesheet', type='text/css', href='/css/todo.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/js/main.js')
    #addBootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1.text-left.mb-4 EasyTodo
      #app
        form(action='/todos', method='POST', onsubmit='return validateForm()')
          .form-group.row
            label.col-sm-2(for='taskName') 
                strong Task name
            .col-sm-3
              input(type='text', id='taskName', name='taskName', placeholder='e.g. Finish COMP6006 Prac', class='form-control')
          .form-group.row
            .col-sm-2.offset-sm-2
              button.btn.btn-primary.btn-block.addTaskBtn(type='submit') Add task
        br
        table.table.table-borderless.col-sm-6
            thead
            tr
              th Task
              th Action
            tbody
            each val in toDoList
                tr
                    td.col-sm-4
                        p= val.name 
                    td
                        a.btn.btn-danger.delete-todo(data-todoid=val._id, href='/todos/'+val._id) Delete Task
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')